
# inventario
SUPABASE_URL = https://rdlkqjbekhptaequskdv.supabase.co/rest/v1/
SUPABASE_ANNON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkbGtxamJla2hwdGFlcXVza2R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NjEyMzIsImV4cCI6MjA5NDQzNzIzMn0.othHLwSnCLGHg3hsPdska_Wcobi3fGF6dn_f7LW3_Yg

